/* Reset/normalize */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Use relative units */
html {
  font-size: 16px;
}

/* Use CSS variables */
:root {
  --primary-color: #ff3300;
  --secondary-color: #706f7b;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* Organize your CSS code */
body {
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
  line-height: 1;
  color: black;
}

p {
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
  color: var(--secondary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  background-color: transparent;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0
}

ul li {
  padding-bottom: 0.5rem;
}